@charset "UTF-8";
/*nav 菜单*/

.omit{
    /*溢出显示省略号*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav{
    width: 100%;
    border-top: 2px solid orangered;
}
#navs{
    width: 1200px;
    
}

nav{
    width: 100%;
    height: 500px;
    //background: blueviolet;
    position: relative;
    
              #navs_live_bottom{
                width: 100%;
                height: 420px;
                background: #777777;
                position: absolute;
                bottom: 0;
                z-index: -99;
            }
}
#navs{
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    
  
    
    .live_top{
        padding-top: 10px;
        padding-left: 20px;
        box-sizing: border-box;
        width: 1033px;
        height: 79px;
        position: absolute;
        top: 0;
        left: 124px;
        //background: red;
        #gif1{
            position: absolute;
            display: block;
           
            top: 0;
            right: -165px;
        }
        
        .live_top_left{
           width: 96px;
           height: 59px;
           background: url(../img/live.png) no-repeat;
           float: left;
           
            }
            .live_top_right{
                margin-left: 67px;
           width: 96px;
           height: 59px;
           background: url(../img/live.png) no-repeat -105px 0;
           float: left;
           
            }
            
            
             dl{
                float: left;
                 margin-left: 20px;
                dt{
                    float: left;
                   position: relative;
                   width: 90px;
                   height: 59px;
                   overflow: hidden;
                   
                   img{
                       position: absolute;
                       
                   }
                   .zf{
                       width: 90px;
                       height: 59px;
                       position: absolute;
                       background: url(../img/radio.png) no-repeat;
                   }
                }
                dd{
                    float: left;
                     margin-left: 20px;
                    p:nth-of-type(1){
                        width: 200px;
                       
                        @extend .omit
                    }
                    
                     p:nth-of-type(2){
                         color: orangered;
                         font-size: 20px;
                           margin-top: 20px;
                         a{
                             display: inline-block;
                           
                             font-size: 12px;
                             width: 80px;
                             height: 20px;
                             text-align: center;
                             float: right;
                             line-height: 20px;
                             
                             border: 1px solid orangered;
                         }
                     }
                    
                }
        }
        
    }
    .navs_left{
        position: absolute;
        width: 125px;
        background: #000000;
        height: 500px;
        ul{
            width: 100%;
            height: 100%;
            overflow: hidden;
            li{
                float: left;
                width: 100%;
                height: 40px;
                background: #000;  
                 text-align: center;
                    line-height: 40px;
                    padding: 8px 0;
                    &:hover{
                        color: #000;
                        background: #FFFFFF;
                        
                    }
                    &:hover a{
                        color: #000;
                    }
                    
                a{
                   
                    display: inline-block;
                    color: #FFFFFF;
                    font-weight: 900;
                    margin-right: 10px;
                }
            }
        }
        
        .navs_left_menu{
            box-sizing: border-box;
            padding-left: 100px;
            padding-top: 30px;
            position: absolute;
            width: 1186px;
            height: 500px;
            background: #fff;
            left: 125px;
            top: 0;
            z-index: 10;
            display: none;
           
           p{
                b{
                   // display: block;
                font-size: 14px;
                font-weight: 900;
                padding-right: 10px;
                margin-right: 10px;
                background: url(../img/top_bg.png) no-repeat right -25px;
                
            }
               margin: 10px 0;
               
                i{
                    
               
                a{
                color: #777777;
                 margin: 10px 0;
                 padding: 0 5px;
                border-left:1px solid #777777 ;
                &:hover{
                    color: red;
                    font-weight: 900;
                }
            }
            }
           }
        }
    }
    

#navs_banner{
    position: absolute;
    width: 786px;
    height: 400px;
    left: 142px;
    top: 94px;
    ul{
        li{
             img{
       position: absolute;
      // display: none;
       width: 786px;
       height: 400px;
   }
        }
    }
  
    
    #banner_left{
        display: block;
        opacity: 0.2;
        width: 30px;
        height: 60px;
        position: absolute;
        top: 150px;
        background: #000000 url(../img/slider-arrow.png) no-repeat -132px -137px;
        display: none;
    }
    #banner_right{
        display: block;
        opacity: 0.2;
        width: 30px;
        height: 60px;
        position: absolute;
        right: 0;
        top: 150px;
        background: #000000 url(../img/slider-arrow.png) no-repeat -12px -137px;
        display: none;
    }
    i{
        position: absolute;
        bottom: 0;
        left: 318px;
        b{
            display: inline-block;
            width: 20px;
            height: 20px;
            background: white;
            opacity: 0.7;
            margin-left: 20px;
            text-align: center;
            line-height: 20px;
            border-radius: 50%;
        }
    }
}


#navs_right{
    width: 200px;
    height: 421px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: brown;
    text-align: center;
    h3{
        font-weight: 900;
        margin: 20px 0;
        
        
    }
}

}

/*这里菜单刚刚写完*/

#brand_column{
    width: 100%;
    height: 150px;
    ul{
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        li{
            
             position: relative;
           
            float: left;
            position: relative;
            width: 300px;
            height: 100%;
              
          
            a{
                display: block;
                overflow: hidden;
               margin-top: 30px;
               transition: all 1s;
               
             
               
            b{
                display: block;
                width: 125px;
                font-size: 16px;
                font-weight: 900;
                color: #000;
                
            }
            i{
                display: block;
                width: 125px;
                color: #000;
                
            }
            img{
                position: absolute;
                top: 0;
                right: 30px;
                transition: all .5s;
            
             }
            }
            
              &:hover a{
                margin-top: 60px;
                i{
                    color: red;
                    
                }
                img{
                    right: 5px;
                }
            }
        }
    }
}



/*楼层1楼*/
#stairs_1F{
    width: 100%;
   height: 516px;
   
}

.stairs_1F{
    width: 1200px;
    margin: 0 auto;
    //background: blueviolet;
    
    .stairs_1F_header{
        height: 40px;
       // overflow: hidden;
        border-bottom: 1px solid red;
        margin-bottom: 5px;
        position: relative;
        
        span{
            margin-top: 5px;
               float: left;
            i{
                display: inline-block;
                width: 35px;
                height: 22px;
                background: orange url(../img/floor_mt_h2.png) no-repeat;
                padding-top: 7px;
                box-sizing: border-box;
                   font-size: 12px;
            }
         
       
        }
        .stairs_1F_header_menu{
                float: right;
                li{
                    float: left;
                    font-size: 16px;
                    padding: 7px 20px;
                    border-top: 5px solid transparent;
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    box-sizing: border-box;
                    &:hover{
                        color: red;
                        border-color: red;
                        border-bottom: 2px solid white;
                    }
                 
                }
            }
        
    }
    
    
    .stairs_1F_left{
        
        position: relative;
        width: 210px;
        
        .stairs_1F_left_banner{
            position: absolute;
            
        }
        .stairs_1F_left_top{
            position: absolute;
            top: 230px;
            
            li{
                float: left;
                padding: 5px 8px;
             box-sizing: border-box;
             width: 50%;
            a{
                 color: #555;
            }
                
            }
            
        }
        
    }
    
    
    .stairs_1F_left_bottom{
        position: absolute;
        top: 320px;
        li{
            float: left;
            padding: 5px 5px;
            a{
             color: #777;   
            }
        }
    }
  
    
}


/*json文件的动态添加*/
.stairs_1F_inner{
    width: 990px;
    height: 474px;
    float: right;
   
    
    background: red;
    ul{
        float: left;
        width: 219px;
        height: 472px;
    }
    
    
      
    .stairs_1F_inner_play{
        float: left;
        width: 333px;
        height: 472px;
        position: relative;
        overflow: hidden;
        ul{
            position: absolute;
            width: 333px;
            height: 472px;
        }
        
        
    }
    .stairs_1F_inner_play_bottom{
        position: absolute;
        bottom: 0;
        left: 100px;
        display: block;
        z-index: 10;
        i{
            display: inline-block;
            background:#777;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin: 10px 6px;
            text-align: center;
            line-height: 20px;
            opacity: 0.6;
        }
        
        
    }
    
    .stairs_1F_inner_play_left{
        z-index: 10;
            position: absolute;
            display: block;
            opacity: 0.2;
            width: 30px;
            height: 60px;
            
            top: 200px;
            background: #000000 url(../img/slider-arrow.png) no-repeat -132px -137px;
            display: none;
           
        }
        .stairs_1F_inner_play_right{
            z-index: 10;
             display: block;
            opacity: 0.2;
            width: 30px;
            height: 60px;
            position: absolute;
            right: 0;
            top: 200px;
            background: #000000 url(../img/slider-arrow.png) no-repeat -12px -137px;
            display: none;
        }
}

/*选项卡啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊*/

.stairs_1F_header_play{
    
    position: absolute;
     width: 990px;
    height: 474px;
    
    bottom: -480px;
    right: 0;
    background: red;
    z-index: 99;
    
    .stairs_1F_header_play_ul{
        width: 990px;
        height: 474px;
        
        li{
            float: left;
            margin: 10px 35px 25px 30px ;
            
            a{
                
               p{
                   width: 100px;
                   text-align: center;
                   font-size: 12px;
                   //font-weight: 900;
                   
               } 
               
               b{
                    color:yellow ;
               }
               
                
               img{
                    width: 130px;
                    height: 130px;
            }
            
        }}
        
    }
    
    
    }
    




